body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
}

.star {
  --star-color: var(--primary-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 6.6em;
  --top-offset: 7.57vh;
  --fall-duration: 6.281s;
  --fall-delay: 8.921s;
}
.star:nth-child(2) {
  --star-tail-length: 5.98em;
  --top-offset: 39.31vh;
  --fall-duration: 11.558s;
  --fall-delay: 9.798s;
}
.star:nth-child(3) {
  --star-tail-length: 6.53em;
  --top-offset: 52.35vh;
  --fall-duration: 6.441s;
  --fall-delay: 9.284s;
}
.star:nth-child(4) {
  --star-tail-length: 6.25em;
  --top-offset: 88.19vh;
  --fall-duration: 7.026s;
  --fall-delay: 2.557s;
}
.star:nth-child(5) {
  --star-tail-length: 7.16em;
  --top-offset: 28.31vh;
  --fall-duration: 7.196s;
  --fall-delay: 2.752s;
}
.star:nth-child(6) {
  --star-tail-length: 6.11em;
  --top-offset: 32.18vh;
  --fall-duration: 10.576s;
  --fall-delay: 3.91s;
}
.star:nth-child(7) {
  --star-tail-length: 7.24em;
  --top-offset: 44.88vh;
  --fall-duration: 10.912s;
  --fall-delay: 2.892s;
}
.star:nth-child(8) {
  --star-tail-length: 6.6em;
  --top-offset: 14.72vh;
  --fall-duration: 9.66s;
  --fall-delay: 2.311s;
}
.star:nth-child(9) {
  --star-tail-length: 6.83em;
  --top-offset: 79.48vh;
  --fall-duration: 9.392s;
  --fall-delay: 8.885s;
}
.star:nth-child(10) {
  --star-tail-length: 7.05em;
  --top-offset: 17.75vh;
  --fall-duration: 9.749s;
  --fall-delay: 9.724s;
}
.star:nth-child(11) {
  --star-tail-length: 5.45em;
  --top-offset: 30.77vh;
  --fall-duration: 8.15s;
  --fall-delay: 1.593s;
}
.star:nth-child(12) {
  --star-tail-length: 7.47em;
  --top-offset: 21.95vh;
  --fall-duration: 11.204s;
  --fall-delay: 6.351s;
}
.star:nth-child(13) {
  --star-tail-length: 6.78em;
  --top-offset: 32.9vh;
  --fall-duration: 8.439s;
  --fall-delay: 4.425s;
}
.star:nth-child(14) {
  --star-tail-length: 7.13em;
  --top-offset: 28.56vh;
  --fall-duration: 8.453s;
  --fall-delay: 4.726s;
}
.star:nth-child(15) {
  --star-tail-length: 5.29em;
  --top-offset: 92.87vh;
  --fall-duration: 9.63s;
  --fall-delay: 9.799s;
}
.star:nth-child(16) {
  --star-tail-length: 5.01em;
  --top-offset: 24.76vh;
  --fall-duration: 8.299s;
  --fall-delay: 6.21s;
}
.star:nth-child(17) {
  --star-tail-length: 7.33em;
  --top-offset: 53.84vh;
  --fall-duration: 9.171s;
  --fall-delay: 1.629s;
}
.star:nth-child(18) {
  --star-tail-length: 7.27em;
  --top-offset: 42.56vh;
  --fall-duration: 8.477s;
  --fall-delay: 2.952s;
}
.star:nth-child(19) {
  --star-tail-length: 6.29em;
  --top-offset: 16.34vh;
  --fall-duration: 10.568s;
  --fall-delay: 4.351s;
}
.star:nth-child(20) {
  --star-tail-length: 7.46em;
  --top-offset: 18.59vh;
  --fall-duration: 9.902s;
  --fall-delay: 1.091s;
}
.star:nth-child(21) {
  --star-tail-length: 7.19em;
  --top-offset: 13.07vh;
  --fall-duration: 9.051s;
  --fall-delay: 9.309s;
}
.star:nth-child(22) {
  --star-tail-length: 5.81em;
  --top-offset: 3.98vh;
  --fall-duration: 10.857s;
  --fall-delay: 4.099s;
}
.star:nth-child(23) {
  --star-tail-length: 5.22em;
  --top-offset: 91.39vh;
  --fall-duration: 8.523s;
  --fall-delay: 2.104s;
}
.star:nth-child(24) {
  --star-tail-length: 6.9em;
  --top-offset: 57.02vh;
  --fall-duration: 10.815s;
  --fall-delay: 0.524s;
}
.star:nth-child(25) {
  --star-tail-length: 6.25em;
  --top-offset: 57.03vh;
  --fall-duration: 10.153s;
  --fall-delay: 6.861s;
}
.star:nth-child(26) {
  --star-tail-length: 7.12em;
  --top-offset: 29.27vh;
  --fall-duration: 11.931s;
  --fall-delay: 2.383s;
}
.star:nth-child(27) {
  --star-tail-length: 5.54em;
  --top-offset: 60.37vh;
  --fall-duration: 6.616s;
  --fall-delay: 7.297s;
}
.star:nth-child(28) {
  --star-tail-length: 6.49em;
  --top-offset: 34.02vh;
  --fall-duration: 7.028s;
  --fall-delay: 4.708s;
}
.star:nth-child(29) {
  --star-tail-length: 6.2em;
  --top-offset: 70.91vh;
  --fall-duration: 8.097s;
  --fall-delay: 2.615s;
}
.star:nth-child(30) {
  --star-tail-length: 5.22em;
  --top-offset: 19.75vh;
  --fall-duration: 10.137s;
  --fall-delay: 4.986s;
}
.star:nth-child(31) {
  --star-tail-length: 6.39em;
  --top-offset: 39.15vh;
  --fall-duration: 7.169s;
  --fall-delay: 2.89s;
}
.star:nth-child(32) {
  --star-tail-length: 7.15em;
  --top-offset: 81.93vh;
  --fall-duration: 11.693s;
  --fall-delay: 3.311s;
}
.star:nth-child(33) {
  --star-tail-length: 5.81em;
  --top-offset: 84.99vh;
  --fall-duration: 11.626s;
  --fall-delay: 4.183s;
}
.star:nth-child(34) {
  --star-tail-length: 7.25em;
  --top-offset: 99.99vh;
  --fall-duration: 7.74s;
  --fall-delay: 6.836s;
}
.star:nth-child(35) {
  --star-tail-length: 7.43em;
  --top-offset: 17.66vh;
  --fall-duration: 7.509s;
  --fall-delay: 7.903s;
}
.star:nth-child(36) {
  --star-tail-length: 5.03em;
  --top-offset: 78.69vh;
  --fall-duration: 8.898s;
  --fall-delay: 5.092s;
}
.star:nth-child(37) {
  --star-tail-length: 6.63em;
  --top-offset: 58.88vh;
  --fall-duration: 6.402s;
  --fall-delay: 8.696s;
}
.star:nth-child(38) {
  --star-tail-length: 6.12em;
  --top-offset: 27.02vh;
  --fall-duration: 11.181s;
  --fall-delay: 7.223s;
}
.star:nth-child(39) {
  --star-tail-length: 5.8em;
  --top-offset: 68.45vh;
  --fall-duration: 9.031s;
  --fall-delay: 2.246s;
}
.star:nth-child(40) {
  --star-tail-length: 6.74em;
  --top-offset: 1.75vh;
  --fall-duration: 6.731s;
  --fall-delay: 8.067s;
}
.star:nth-child(41) {
  --star-tail-length: 5.15em;
  --top-offset: 62.23vh;
  --fall-duration: 10.317s;
  --fall-delay: 3.495s;
}
.star:nth-child(42) {
  --star-tail-length: 5.51em;
  --top-offset: 73.48vh;
  --fall-duration: 9.48s;
  --fall-delay: 2.653s;
}
.star:nth-child(43) {
  --star-tail-length: 7.24em;
  --top-offset: 86.56vh;
  --fall-duration: 10.805s;
  --fall-delay: 6.666s;
}
.star:nth-child(44) {
  --star-tail-length: 6.98em;
  --top-offset: 92.62vh;
  --fall-duration: 10.672s;
  --fall-delay: 8.37s;
}
.star:nth-child(45) {
  --star-tail-length: 5.27em;
  --top-offset: 99.42vh;
  --fall-duration: 9.669s;
  --fall-delay: 8.553s;
}
.star:nth-child(46) {
  --star-tail-length: 5.18em;
  --top-offset: 9.5vh;
  --fall-duration: 10.682s;
  --fall-delay: 1.967s;
}
.star:nth-child(47) {
  --star-tail-length: 5.94em;
  --top-offset: 52.54vh;
  --fall-duration: 7.585s;
  --fall-delay: 5.751s;
}
.star:nth-child(48) {
  --star-tail-length: 6.69em;
  --top-offset: 34.24vh;
  --fall-duration: 6.648s;
  --fall-delay: 9.915s;
}
.star:nth-child(49) {
  --star-tail-length: 5.83em;
  --top-offset: 57.83vh;
  --fall-duration: 8.344s;
  --fall-delay: 2.394s;
}
.star:nth-child(50) {
  --star-tail-length: 6.01em;
  --top-offset: 75.32vh;
  --fall-duration: 8.523s;
  --fall-delay: 7.782s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}